<article class="demo">
  <header>
    <h2>Ember Sortable</h2>
  </header>

  <main>
    <section class="vertical-demo flex-box">
      
      <div>
      	<div style="font-size: 11px;">
	      {{#each model.one as |item|}}
		  	{{item}} 
		  {{/each}}
		 </div>
		  {{#sortable-group connect="no-german" tagName="ol" model=model.one onMove="move" onAdd="add" onRemove="remove" as |group|}}
		    {{#each model.one as |item|}}
		      {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
		        {{item}}
		        <span class="handle">
		          <span>&vArr;</span>
		        </span>
		      {{/sortable-item}}
		    {{/each}}
		  {{/sortable-group}}
	  </div>
	  <div>
      	<div style="font-size: 11px;">
	      {{#each model.three as |item|}}
		  	{{item}} 
		  {{/each}}
		 </div>
		  {{#sortable-each connect="only-german" tagName="ol" model=model.three onMove="move" onAdd="add" onRemove="remove" as |item group|}}
	          {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
	            {{item}}
	            <span class="handle">
	              <span>&vArr;</span>
	            </span>
	          {{/sortable-item}}
	      {{/sortable-each}}
      </div>
      <div>
      	<div style="font-size: 11px;">
	      {{#each model.two as |item|}}
		  	{{item}} 
		  {{/each}}
		 </div>
		  {{#sortable-group connect="no-german" tagName="ol" model=model.two onMove="move" onAdd="add" onRemove="remove" as |group|}}
	        {{#each model.two as |item|}}
	          {{#sortable-item tagName="li" model=item group=group handle=".handle"}}
	            {{item}}
	            <span class="handle">
	              <span>&vArr;</span>
	            </span>
	          {{/sortable-item}}
	        {{/each}}
	      {{/sortable-group}}
      </div>
    </section>

  </main>

  <footer>
    <p>
      <a href="https://github.com/jgwhite/ember-sortable">View on GitHub</a>
    </p>
  </footer>
</article>
